/**********************************
GENERAL PRESETS
***********************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/crossword.png");
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

header, .about {
  margin: 0 15px 40px;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #4a4a4a;
}


/**********************************
NAVIGATION
***********************************/

header {
  padding-top: 1em;
}

header h1 {
  font-size: 26px;
  margin-top: 0;
  text-align: center;
  padding-bottom: 5px;
}

nav a {
  text-transform: uppercase;
}

nav ul {
  text-align: center;
}

nav li {
  display: block;
  background-color: #fff;
  margin: 5px 0;
  font-size: 14px;
  line-height: 275%;
  font-weight: bold;
}


/**********************************
ABOUT
***********************************/

.about {
  text-align: center;
  color: #7f7f7f;
  font-weight: 300;
}

.about img {
  max-width: 70%;
}


/**********************************
PORTFOLIO
***********************************/

#portfolio {
  background-color: #fff;
  padding: 30px 15px 40px;
  text-align: center;
  color: #4a4a4a;
}

#portfolio h4 {
  padding-bottom: 15px;
}

#portfolio section {
  text-transform: none;
  font-weight: 300;
}

#portfolio section img {
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}

#portfolio section h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
}

#portfolio section p {
  font-size: 16px;
}


/**********************************
SKILLS
***********************************/

#skills {
  padding: 30px 15px;
}

#skills h4 {
  margin-bottom: 30px;
}

#skills ul {
  text-align: center;
}


/**********************************
CONTACT
***********************************/

#contact {
  text-align: center;
  color: #7f7f7f;
  font-weight: 300;
  background-color: #fff;
  padding: 40px 15px;
}

#contact h4 {
  margin-bottom: 30px;
}

.top {
  padding-top: 15px;
}

#contact div {
  margin: 15px 0;
}

#contact span {
  margin-right: 15px;
}

#contact a {
  color: #7f7f7f;
  font-weight: 600;
}


/**********************************
FOOTER
***********************************/

footer {
  color: #4a4a4a;
  font-weight: 700;
  padding: 0 15px;
  background-color: #fff;
}

footer hr {
  border: 0;
  margin: 0;
  border-top: 1px solid #e7e7e7;
}

footer div {
  display: flex;
}

footer ul {
  flex: 1;
}

footer li {
  text-align: right;
}

footer a {
  text-transform: uppercase;
  font-size: 12px;
}

footer p {
  flex: 1;
  margin: auto;
  font-size: 14px;
}


/**********************************
MEDIA QUERIES
***********************************/

@media (min-width: 768px) and (max-width: 1023px) {
  nav li {
    display: inline-block;
    background: none;
    padding: 0 15px;
  }
  header h1 {
    padding: 0;
    margin-top: 30px;
  }
  .about {
    display: flex;
    padding: 0 15px;
    margin-bottom: 75px;
    margin-top: 60px;
  }
  .about p {
    flex: 1.2;
    order: 1;
    text-align: left;
    font-size: 18px;
    margin-top: 0;
  }
  .about img {
    flex: 1;
    order: 2;
    margin-left: 10px;
  }
  #portfolio {
    padding-left: 30px;
    padding-right: 30px;
  }
  #portfolio ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #portfolio li {
    flex-basis: 49%;
  }
  #portfolio section p {
    padding-left: 8%;
    padding-right: 8%;
  }
  #contact {
    padding-left: 20%;
    padding-right: 20%;
  }
}
